# Data Science Tools and Ecosystem

The notebook provides a comprehensive summary for Data Science Tools and Ecosystem

**Objectives:**
* List of popular languages
* List of commonly used libraries for Data Scientist in Python
* List of Open Source Data Science Development Tools

Some of the popular languages that Data Scientists use are:
1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

Data Science Tools| 
--- | 
Jupyter Notebook | 
Anaconda|
SPSS|
RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
print("200 mins is {0} hours".format(200/60))
# This will convert 200 minutes to hours by diving by 60

200 mins is 3.3333333333333335 hours

## Author
Honghua Su